/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.navbar-inverse .navbar-toggle {
    border-color:#FFFFFF;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles: Patrick Ruhkopf
   ========================================================================== */

.form-inline {
    padding-left: 5px;
}

.form-inline label {
    float: left;
    text-align: right;
    padding-right: 5px;
    padding-top: 5px;
}

.form-inline .form-group {
    display: inline;
}

.form-inline .col-sm-6 {
    padding-bottom: 10px;
}

.popover-link:hover, .popover-link:active, .popover-link:focus {
    text-decoration: none;
}
.tab-pane {
    padding:15px 3px;
}

.table {
    margin-top:10px;
}

.nav-pills > li > a {
    padding: 5px 10px;
}


@media (max-width: 600px) {
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
}

div.figure {
    margin: 0.5em;
    padding: 0.5em;
}
div.figure p {
    text-align: left;
    font-style: italic;
    font-size: smaller;
}
img.screenshot {
    width: 100%;
    border: thin black solid;
}

.highlight {
    background-color: #4F4F4F;
    border-radius: 16px;
    padding: 10px;
    margin-top: 5px;

    color: #B1B1B1;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.highlight label
{
    color: #FFFFFF;
}

.highlight .table thead > tr > th {
    border-bottom: 2px solid rgb(212, 212, 212);
    color: #E0E0E0;
}

.highlight .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border-top: 1px solid rgb(212, 212, 212);
}

.highlight .input-group-addon {
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(63, 63, 63);
}

.highlight .form-control {
    #color: #B1B1B1;
    color: #FFFFFF;
    background-color: rgb(74, 74, 74);
    border: 1px solid rgb(63, 63, 63);
}

.highlight .form-control:focus {
    border-color: #28a98b;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.highlight a {
    color: #28a98b;
}

.highlight .popover {
    background-color: rgb(46, 46, 46);
    border-color: #28a98b;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.highlight .arrow {
    color: #28a98b;
}

.highlight .popover-title {
    background: #2E2E2E; /* Old browsers */
    color: #E0E0E0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgb(235, 235, 235);

    #background: -moz-linear-gradient(top,  #8e8e8e 0%, #4e4e4e 100%); /* FF3.6+ */
    #background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e8e8e), color-stop(100%,#4e4e4e)); /* Chrome,Safari4+ */
    #background: -webkit-linear-gradient(top,  #8e8e8e 0%,#4e4e4e 100%); /* Chrome10+,Safari5.1+ */
    #background: -o-linear-gradient(top,  #8e8e8e 0%,#4e4e4e 100%); /* Opera 11.10+ */
    #background: -ms-linear-gradient(top,  #8e8e8e 0%,#4e4e4e 100%); /* IE10+ */
    #background: linear-gradient(to bottom,  #8e8e8e 0%,#4e4e4e 100%); /* W3C */
    #filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8e8e', endColorstr='#4e4e4e',GradientType=0 ); /* IE6-9 */
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}