<div class="row">
    <div class="col-sm-4">
        <div class="figure" style="width: 226px">
            <p>Click the export icon</p>
            <img src="img/add-to-home-screen-001.jpg" class="screenshot" alt="Export button" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="figure" style="width: 226px">
            <p>Then press &quot;Add to Home Screen&quot;.</p>
            <img src="img/add-to-home-screen-002.jpg" class="screenshot" alt="Add to Home Screen" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="figure" style="width: 226px">
            <p>Confirm by pressing &quot;Add&quot;</p>
            <img src="img/add-to-home-screen-003.jpg" class="screenshot" alt="Confirm" />
        </div>
    </div>
</div>