<!DOCTYPE html>
<html ng-app="percenterApp" id="ng-app" manifest="/application.manifest">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Percenter - A percentage calculator</title>
        <meta name="description" content="A percentage calculator">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/app.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/controllers.js"></script>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-45866113-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Percenter</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#applyPercentage" data-toggle="tab">Apply percentage</a></li>
                <li><a href="#compareValues" data-toggle="tab">Compare</a></li>
              </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </div>

        <div class="container" ng-controller="PercenterCtrl">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="applyPercentage">
                    <div class="actionBox">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                    <label style="width: 65px" for="inputPercentage">Apply</label>

                                    <div class="input-group">
                                        <input type="number" class="form-control" id="inputPercentage"
                                               placeholder="0.00" ng-model="percentage" autofocus="autofocus"/>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                        </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label style="width: 65px" for="inputAmount">to</label>

                                        <div class="input-group">
                                            <input type="number" class="form-control" id="inputAmount"
                                                   placeholder="0.00" ng-model="amount"/>
                                            <span class="input-group-addon">$&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label style="width: 65px" for="inputDividedBy">split by</label>

                                        <div class="input-group">
                                            <input type="number" class="form-control" id="inputDividedBy"
                                                   placeholder="1" ng-model="dividedBy"/>
                                            <span class="input-group-addon">/&nbsp;&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th class="hidden-xs hidden-sm">&nbsp;</th>
                            <th class="hidden-xs text-right">Total</th>
                            <th class="hidden-xs text-right">Rounded</th>
                            <th class="text-right">Split by {{dividedBy}}</th>
                            <th class="hidden-xs"><span class="glyphicon glyphicon-question-sign"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="resultPercentageColumn">
                            <td>{{percentage}}% of {{amount}}</td>
                            <td class="hidden-xs hidden-sm">&nbsp;</td>
                            <td class="hidden-xs text-right">{{resultPercentage}}</td>
                            <td class="hidden-xs text-right">{{resultPercentage.toFixed(2)}}</td>
                            <td class="text-right">{{resultPercentageDiv.toFixed(2)}}</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="click"
                                                     data-content="(percentage / 100) * amount"
                                                     data-original-title="{{percentage}}% of {{amount}} = {{resultPercentage.toFixed(2)}}"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text">{{amount}} is {{percentage}}% of</td>
                            <td class="hidden-xs hidden-sm">&nbsp;</td>
                            <td class="hidden-xs text-right">{{resultAmount}}</td>
                            <td class="hidden-xs text-right">{{resultAmount.toFixed(2)}}</td>
                            <td class="text-right">{{resultAmountDiv.toFixed(2)}}</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-trigger="hover" data-content="amount / (percentage/100)"
                                                     data-original-title="{{amount}} is {{percentage}}% of {{resultAmount.toFixed(2)}}"></a>
                            </td>
                        </tr>
                        <tr id="resultAddColumn">
                            <td class="text">{{amount}} plus {{percentage}}% is</td>
                            <td class="hidden-xs hidden-sm">(i.e gross value)</td>
                            <td class="hidden-xs text-right">{{resultAdd}}</td>
                            <td class="hidden-xs text-right">{{resultAdd.toFixed(2)}}</td>
                            <td class="text-right">{{resultAddDiv.toFixed(2)}}</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-content="amount + ((percentage / 100) * amount)"
                                                     data-original-title="{{amount}} + {{percentage}}% = {{resultAdd.toFixed(2)}}"></a>
                            </td>
                        </tr>
                        <tr id="resultIncreasedColumn">
                            <td class="text">if {{amount}} is after {{percentage}}% increase, then it was</td>
                            <td class="hidden-xs hidden-sm">(i.e net value)</td>
                            <td class="hidden-xs text-right">{{resultIncreased }}</td>
                            <td class="hidden-xs text-right">{{resultIncreased.toFixed(2)}}</td>
                            <td class="text-right">{{resultIncreasedDiv.toFixed(2)}}</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-content="amount / ((100+percentage)/100)"
                                                     data-original-title="{{amount}} / {{increasedPercentage}}% = {{resultIncreased.toFixed(2)}}"></a>
                            </td>
                        </tr>
                        <tr id="resultSubtractColumn">
                            <td class="text">{{amount}} less {{percentage}}% is</td>
                            <td class="hidden-xs hidden-sm">&nbsp;</td>
                            <td class="hidden-xs text-right">{{resultSubtract }}</td>
                            <td class="hidden-xs text-right">{{resultSubtract.toFixed(2)}}</td>
                            <td class="text-right">{{resultSubtractDiv.toFixed(2)}}</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-content="amount - ((percentage / 100) * amount)"
                                                     data-original-title="{{amount}} - {{percentage}}% = {{resultSubtract.toFixed(2)}}"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>if {{amount}} is after {{percentage}}% reduction, then it was</td>
                            <td class="hidden-xs hidden-sm">&nbsp;</td>
                            <td class="hidden-xs text-right">{{resultReduced}}</td>
                            <td class="hidden-xs text-right">{{resultReduced.toFixed(2)}}</td>
                            <td class="text-right">{{resultReducedDiv.toFixed(2)}}</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-content="amount / ((100-percentage)/100)"
                                                     data-original-title="{{amount}} / {{reducedPercentage}}% = {{resultReduced.toFixed(2)}}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="compareValues">

                    <div class="actionBox">
                        <form class="form-inline">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label style="width: 75px" for="inputNoA">Compare</label>
                                        <input style="width: 180px" type="number" class="form-control" id="inputNoA"
                                               placeholder="0.00" ng-model="compareNumberA"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label style="width: 75px" for="inputNoB">to</label>
                                        <input style="width: 180px" type="number" class="form-control" id="inputNoB"
                                               placeholder="0.00" ng-model="compareNumberB"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th class="hidden-xs">Total</th>
                            <th>Rounded</th>
                            <th class="hidden-xs"><span class="glyphicon glyphicon-question-sign"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{compareNumberA}} is what % of {{compareNumberB}} is</td>
                            <td class="hidden-xs">{{resultNoAPercentage}}%</td>
                            <td>{{resultNoAPercentage.toFixed(2)}}%</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-content="(numberA / numberB) * 100"
                                                     data-original-title="({{compareNumberA}} / {{compareNumberB}}) * 100 = {{resultNoAPercentage.toFixed(2)}}%"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{compareNumberB}} is what % of {{compareNumberA}} of</td>
                            <td class="hidden-xs">{{resultNoBPercentage}}%</td>
                            <td>{{resultNoBPercentage.toFixed(2)}}%</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-trigger="hover" data-content="(numberB / numberA) * 100"
                                                     data-original-title="({{compareNumberB}} / {{compareNumberA}}) * 100 = {{resultNoBPercentage.toFixed(2)}}%"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{compareNumberA}} to {{compareNumberB}} is an increase of</td>
                            <td class="hidden-xs">{{resultCompareIncrease}}%</td>
                            <td>{{resultCompareIncrease.toFixed(2)}}%</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-content="((numberB / numberA) * 100) - 100"
                                                     data-original-title="(({{compareNumberB}} / {{compareNumberA}}) * 100) - 100 = {{resultCompareIncrease.toFixed(2)}}%"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{compareNumberB}} to {{compareNumberA}} is an decrease of</td>
                            <td class="hidden-xs">{{resultCompareDecrease }}%</td>
                            <td>{{resultCompareDecrease.toFixed(2)}}%</td>
                            <td class="hidden-xs"><a href="#" class="popover-link glyphicon glyphicon-question-sign"
                                                     rel="popover" data-placement="left" data-trigger="hover"
                                                     data-content="100 - ((numberA / numberB) * 100)"
                                                     data-original-title="100 - (({{compareNumberA}} / {{compareNumberB}}) * 100)= {{resultCompareDecrease.toFixed(2)}}%"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>

        <div ng-controller="HomeScreenCtrl" id="home" >
            <div class="container nopadding" ng-if="activeTabId == 'applyPercentage'">
                <h3>Examples</h3>
                <ul>
                    <li><a href="#" ng-click="showExample(1)">How much is 18% tip of $30?</a></li>
                    <li><a href="#" ng-click="showExample(2)">And 18% tip of $50 split by 2?</a></li>
                    <li><a href="#" ng-click="showExample(3)">Tell me 18% of $70 split by 4?</a></li>
                    <li><a href="#" ng-click="showExample(4)">What did I save when I got 40% off of $60?</a></li>
                    <li><a href="#" ng-click="showExample(5)">What is the estimated total for a $399 item plus NYC tax (8.375%)?</a></li>
                    <li><a href="#" ng-click="showExample(6)">What is the net value of $99 that includes VAT tax (20%)?</a></li>
                </ul>
            </div>

            <div class="container nopadding">
                <h3>Mobile friendly</h3>
                <img src="apple-touch-icon-57x57-precomposed.png" style="float: left; margin-right: 10px; width: 50px" alt="Percenter app icon"/>
                <p>This application supports multiple display formats and offline use. Please bookmark me!<br/>
                   If you are using an iPhone or iPad, you can also easily add Percenter to your home screen. In Safari just click on the little export icon with the arrow in the toolbar at the bottom. <a href="#" ng-click="showDetails = !showDetails">Click here for more details.</a> </p>

                <div ng-if="details" ng-include="details"></div>
            </div>

            <div class="container nopadding">
                <h3>Help and Feedback</h3>
                <p>Do you have a question for us or would you like to see a new feature? We would love to hear from you! <a href="https://percenter.uservoice.com/">Give us a shout at our support forums.</a></p>
            </div>
        </div>

        <hr>

      <footer>
          <div class="container">
                <p>&copy; <a href="http://ruhkopf.name/">Patrick Ruhkopf</a> 2013-2014 | <a href="legal.html">Legal Notices</a> | <a href="https://percenter.uservoice.com/">Help and Contact</a></p>
          </div>
      </footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/vendor/jquery.cookie.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

    <script>
        // Include the UserVoice JavaScript SDK (only needed once on a page)
        UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Hf8lXMiak49cHoDBzMZ2FQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

        // Set colors
        UserVoice.push(['set', {
            accent_color: '#36AD91',
            trigger_color: 'white',
            trigger_background_color: '#57BCA5'
        }]);

        // Add default trigger to the bottom-right corner of the window:
        UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

        // Or, use your own custom trigger:
        //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

        // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
        UserVoice.push(['autoprompt', {}]);
    </script>


    </body>
</html>
